<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->


    <!--Write events to a file with the date in the filename. -->
    <target xsi:type="File" name="f" fileName="${basedir}/logs/Main.log" maxArchiveFiles="5" archiveNumbering="Rolling" enableArchiveFileCompression="true" archiveAboveSize="50000000"
            layout="${longdate} (${threadid:padding=3}) ${uppercase:${level}}  ${message}" />
    <target xsi:type="File" name="Indexer" fileName="${basedir}/logs/indexer.log" archiveNumbering="Rolling"
            layout="${longdate} ${uppercase:${level}} ${message}" maxArchiveFiles="5"  enableArchiveFileCompression="true" archiveAboveSize="50000000"/>
    <target xsi:type="File" name="Webhost" fileName="${basedir}/logs/webhost.log" archiveNumbering="Rolling"
            layout="${longdate} ${uppercase:${level}} ${message}" maxArchiveFiles="5"  enableArchiveFileCompression="true" archiveAboveSize="50000000"/>
    <target xsi:type="File" name="Tracer" fileName="${basedir}/logs/trace.log" archiveNumbering="Rolling"
        layout="${longdate} ${uppercase:${level}} ${message}" maxArchiveFiles="5"  enableArchiveFileCompression="true" archiveAboveSize="50000000"/>
    <target xsi:type="EventLog" name="eventlog" layout="CSUpdater: ${longdate} ${uppercase:${level}} ${message}" log="Application"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!-- Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f" -->
    <logger name="Indexer" minlevel="Trace" writeTo="indexer" />
    <logger name="Webhost" minlevel="Trace" writeTo="webhost" />
    <logger name="Main" minlevel="Info" writeTo="f" />
    <logger name="Main" minlevel="Trace" writeTo="Tracer" />
    <logger name="Main" minlevel="Warn" writeTo="eventlog"/>
    <logger name="EventLog" minlevel="Debug" writeTo="eventlog"/>
  </rules>
</nlog>